apiVersion: v1
kind: Namespace
metadata:
  name: web-demo
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: anp-demo-sa
  namespace: web-demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: anp-demo-app
  namespace: web-demo
  labels:
    app: anp-demo-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: anp-demo-app
  template:
    metadata:
      labels:
        app: anp-demo-app
    spec:
      serviceAccountName: anp-demo-sa
      containers:
      - name: anp-demo-app
        image: rezareza/anp-demo-app:latest
        imagePullPolicy: Always
        env:
        - name: HTTP_URL
          value: "http://www.githubstatus.com/"
        - name: HTTP_TIMEOUT
          value: "60"
        ports:
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: container-service
  namespace: web-demo
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: anp-demo-app
  type: LoadBalancer
---
